.bookData,
.movieData {
  width: 100%;
  max-width: 100rem;
  margin: 20rem auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
.bookData img,
.movieData img {
  width: 100%;
}
